body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

.form-box,
.search-box {
    background: white;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(33% - 20px);
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #222;
    color: white;
}

#message {
    text-align: center;
    font-weight: bold;
}